.hero{
    background-image: url(images/header.png);
    height:261px;
    position:relative;
}

.hero-2{
    background-image: url(images/product_description_header.png);
    height:250px;
    position:relative;
}

.hero-3{
    background-image:url(images/cart-hero-01.png);
    height:250px;
    position:relative;
}

.hero-4{
    background-image:url(images/women_productpage.png);
    height:261px;
    position:relative;
}

.horizontal-nav{
    background-color:#EA2C68;
    height:40px
}

.horizontal-nav ul li{
    display:inline;
}

.horizontal-nav ul li a{
    color:white;
    text-decoration:none;
    margin:0 auto;
    padding: 20px;
}

i{
    color:white;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
}

.login li a{
    display:inline;
    color:white;
}

h1{
   font-size: 1.6em;
    font-family:Montserrat, sans-serif; 
}

h2{
   font-size: 1.4em;
    font-family:Montserrat, sans-serif; 
}

h3{
    font-size: 1.2em;
    font-family:Montserrat, sans-serif;
}

h4{
    font-size: 1em;
    font-family:Montserrat, sans-serif;
}

h5{
    font-size: .8em;
    font-family:Montserrat, sans-serif;
}

h6{
    font-size: .6em;
    font-family:Montserrat, sans-serif;
}

p{
   font-size: .8em;
    font-family:Montserrat, sans-serif; 
}

footer{
    background-color:#EA2C68;
}

.header-logo{
    position:absolute;
    left:2%;
    top:50%;
}

.login{
    position:absolute;
    top:2%;
    right:2%;
}

.sale{
    background-image:url(images/index_sale.png);
    background-repeat: no-repeat;
    height:20%;
}

.ad{
    padding-top:13%;
    padding-bottom:10%;
    background-color: rgba(255, 255, 255, .7)
}

.ad p{
padding-right: 8%;
padding-left: 8%;
font-size:.9em;
font-weight:700;
}
