img{
    width:100%;
}

.bestseller{
    margin-top:10%;
    margin-bottom: 10%;
}

.bestseller img{
    width:75%;
    margin-right:12.5%;
    margin-left:12.5%;
}

.product-best img{
    width:40%;
    margin-bottom:-10%;
}

.big.button{
    width:60%;
}

.product-best .button{
    width:40%;
    margin-bottom:10%;
}

.bestseller p{
    position:absolute;
}

.bestseller h3{
    text-align: center;
}

.bestseller h4{
    text-align: center;
}

.bestseller h5{
    text-align: center;
}

.bestseller div{
    text-align: center;
}

#about{
    margin-top:15%;
    margin-bottom:6.2%;
}

#connect li{
    display:inline;
}

#connect i{
    color:#EA2C68;
    font-size: 2.2em;
    margin-left:5%;
}

.header-logo{
    width:100%;
    position:absolute;
    left:2%;
    top:60%;
}

.hero{
    background-image: url(images/header.png);
    height:261px;
    position:relative;
}

.hero-2{
    background-image: url(images/product_description_header.png);
    height:250px;
    position:relative;
}

.hero-3{
    background-image:url(images/cart-hero-01.png);
    height:250px;
    position:relative;
}

.hero-4{
    background-image:url(images/women_productpage.png);
    height:261px;
    position:relative;
}

.nav-center{
    margin:0 auto;
}

.horizontal-nav{
    background-color:#EA2C68;
    height:30px;
    padding-top:.3%;
}

.horizontal-nav ul li{
    display:inline;
}

.horizontal-nav ul li a{
    color:white;
    text-decoration:none;
    padding:4%;
    font-size:1em;
    font-family:Montserrat, sans-serif; 
    font-weight: 700;
}

.horizontal-nav ul li a:hover{
    color:#1D2456;
}

i{
    color:white;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color:white;
}

li a:hover{
    color:#1D2456;
}

.login li{
    display:inline;
    color:white;
    font-weight: 700;
    margin-right:15%;
}

h1{
   font-size: 1em;
    font-family:Montserrat, sans-serif; 
}

h2{
   font-size: .9em;
    font-family:Montserrat, sans-serif; 
}

h3{
    font-size: .8em;
    font-family:Montserrat, sans-serif;
}

h4{
    font-size: .7em;
    font-family:Montserrat, sans-serif;
}

h5{
    font-size: .6em;
    font-family:Montserrat, sans-serif;
}

h6{
    font-size: .5em;
    font-family:Montserrat, sans-serif;
}

p{
   font-size: .8em;
    font-family:Montserrat, sans-serif; 
}

.login{
    position:absolute;
    top:2%;
    right:2%;
}

.sale{
    background-image:url(images/index_sale.png);
    background-repeat: no-repeat;
    height:20%;
}

.ad{
    padding-top:13%;
    padding-bottom:10%;
    background-color: rgba(255, 255, 255, .7)
}

.feature{
    margin-bottom:2%;
}

.left-nav{
    color:#EA2C68;
    text-decoration:none;
    font-size:1em;
    font-family:Montserrat, sans-serif; 
    font-weight: 700;
    display:block;
}

.left-nav-margin{
    margin-top:5%;
}

.product h2{
    margin-top:-70%;
    padding-bottom:47%;
    font-family:Montserrat, sans-serif; 
    font-weight:700;
    color:#fff;
}

.product img{
    width:75%;
}

.product .button{
    width:80%;
}

hr{
    border-bottom: 2px solid #EA2C68;
}

h3.title{
    margin-top: -100%;
    text-align: center;
    color: #fff;
    padding-bottom: 92%;
    font-family:Montserrat, sans-serif; 
    font-weight:700;
}

h3.title-2{
    margin-top: -55%;
    text-align: center;
    color: #fff;
    padding-bottom: 50%;
    font-family:Montserrat, sans-serif; 
    font-weight:700;
}

.cart-summary{
    border:5px solid #EA2C68;
}

.cart-summary h4{
    margin-top: 20px;
    margin-left:10px;
    font-weight:700;
}

.ad p{
padding-right: 8%;
padding-left: 8%;
font-size:.9em;
font-weight:700;
}

.align-left{
    margin-left: 0;
}

.promo{
    margin-bottom:10%;
}

.gift-card{
    margin-bottom:10%;
}

.payment{
    margin-bottom:10%;
}

.billing{
    margin-bottom:10%;
}

.button{
    background-color:#EA2C68;
    width:100%;
}

div.apply{
    background-color:#1D2456; 
}

.apply p{
    font-size:1.2em;
    margin-bottom:0;
}

.button a{
    width: 80%;
    margin: 0 auto;
    color:white;
    text-decoration:none;
    font-size: .8em;
    text-align: center;
}

.button a:hover{
    color:#1D2456;
}

.button.free{
    padding-top:1%;
    padding-bottom:1%;
}

.button.free p{
    line-height: 1.2em;
}

.button.submit{
    width:20%;
    margin-left:1%;
}

.side-nav{
    color:#1D2456;
}

.full-row{
    
}

.product-info{
    margin-top: 5%;
}

.product-info .button{
    width:50%;
}

footer{
    margin-top:20%;
    background-color:#EA2C68;
}

footer nav{
    margin-top:5%;
}

.copyright-block{
    color:white;
    margin-top:5%;
}

@media (max-width: 950px) {
    .horizontal-nav ul li a{
        padding:0%;
        display: block;
        text-align:left;
        color:white;
        text-decoration:none;
        font-family:Montserrat, sans-serif; 
        font-weight: 700;
        background-color:#EA2C68;
    }
    .horizontal-nav{
        padding-left:4%;
        height:4%;
    }


}

@media (max-width: 917px) {
    .product h2{
        margin-top:-72%;
    }
}

@media (max-width: 900px) {
    .button a{
        font-size:.9em;
    }
    .payment a{
        font-size:.9em;
    }
    .free.button a{
        font-size:.9em;
    }
    
    .shipping.button{
        font-size:.9em;
    }
    
    .free.button{
        width:55%;
    }
    
    .shipping.button{
        width:55%;
    }
    .header-logo{
    top:65%;
    }
}
@media(max-width: 846px) {
    .product h2{
        margin-top: -74%;
    }
}

@media (max-width: 768px) {
    .header-logo{
    top:70%;
    }
    .button a{
        font-size:.7em;
    }
    .ad p{
        font-size:.8em;
    }
}

@media (max-width: 667px) {
    .button a{
        font-size:.6em;
    }
    .ad p{
        font-size:.7em;
    }
    .header-logo{
        width:140%;
    }
}

@media (max-width: 550px) {
    img{
        width:30%;
    }
    .product img{
        width:30%;
    }   
    footer nav ul li{
        padding-left:10%;
    }
    .button{
        width:40%;
    }
    .product-info .button{
        width:20%;
    }
    .button a{
        font-size:.8em;
    }
}

@media (max-width: 480px) {
    .header-logo{
        top:75%;
    }
    .product img{
        width:30%;
    }
     .free.button{
        width:100%;
    }
    
    .shipping.button{
        width:100%;
    }
    
}

@media (max-width: 270px) {

}